.rb-carousel-container {
  position: relative;
  overflow: hidden;
  /* border: 1px solid #555; */
  /* border-radius: 24px; */
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
  height: 600px; /* Ensure height fits the cards */
  perspective: 2000px;
  width: 100%;
}

.rb-carousel-track {
  display: flex;
  align-items: center; /* Center cards vertically */
  height: 100%;
  transform-style: preserve-3d;
}

.rb-carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #555;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: #0d0716;
  overflow: visible;
  cursor: grab;
  backface-visibility: hidden;
  perspective: 1000px;
}

.rb-carousel-item:active {
  cursor: grabbing;
}

.rb-carousel-indicators {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.rb-carousel-container.round {
  border: 1px solid #555;
}

.carousel-item.round {
  background-color: #0d0716;
  position: relative;
  bottom: 0.1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rb-carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.rb-carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.rb-carousel-indicator.active {
  background-color: #333333;
}

.rb-carousel-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.rb-carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.rb-carousel-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.rb-carousel-icon {
  height: 16px;
  width: 16px;
  color: #060010;
}

.rb-carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.rb-carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.rb-carousel-item-description {
  font-size: 14px;
  color: #fff;
}

.rb-carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.rb-carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.rb-carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.rb-carousel-indicator.active {
  background-color: #fff;
}

.rb-carousel-indicator.inactive {
  background-color: #555;
}
